<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162180602602-cc37bfm10aovcqgvs16ddepepi8uft17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162180602602-cc37bfm10aovcqgvs16ddepepi8uft17</string>
	<key>API_KEY</key>
	<string>AIzaSyBLq5DJXQ8PjjVxHUU4aaq59-3itBKZsGg</string>
	<key>GCM_SENDER_ID</key>
	<string>162180602602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.penkrat.TuneIN</string>
	<key>PROJECT_ID</key>
	<string>tunein-3397f</string>
	<key>STORAGE_BUCKET</key>
	<string>tunein-3397f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162180602602:ios:f62bbc4dac8b32bba75593</string>
</dict>
</plist>